{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "18.17.0"
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
} 