# Exported from Render on 2025-06-10T21:42:54Z
databases:
- name: arbitragem-banco
  databaseName: arbitragem_banco
  user: arbitragem_banco_user
  plan: free
  region: oregon
  ipAllowList:
  - source: 0.0.0.0/0
    description: everywhere
  postgresMajorVersion: "16"

services:
- type: web
  name: arbitragem-render
  env: node
  region: oregon
  plan: free
  buildCommand: npm install && npm run build
  startCommand: npm start
  envVars:
    - key: NODE_ENV
      value: production
    - key: PORT
      value: 10000
  healthCheckPath: /
  autoDeploy: true

- type: web
  name: robo-de-arbitragem
  env: node
  region: oregon
  plan: free
  buildCommand: npm install && npm run db:setup && npm run build
  startCommand: npm start
  envVars:
    - key: NODE_ENV
      value: production
    - key: DATABASE_URL
      fromDatabase:
        name: arbitragem-banco
        property: connectionString
    - key: NEXT_PUBLIC_WEBSOCKET_URL
      value: wss://robo-de-arbitragem-tracker.onrender.com
    - key: BINANCE_API_KEY
      sync: false
    - key: BINANCE_SECRET
      sync: false
    - key: MEXC_API_KEY
      sync: false
    - key: MEXC_SECRET
      sync: false
    - key: GATE_API_KEY
      sync: false
    - key: GATE_SECRET
      sync: false
  autoDeploy: true
  branch: default

- type: web
  name: robo-de-arbitragem-tracker
  env: node
  region: oregon
  plan: free
  buildCommand: npm install && npm run db:setup && npm run build:tracker
  startCommand: npm run start:tracker
  envVars:
    - key: NODE_ENV
      value: production
    - key: DATABASE_URL
      fromDatabase:
        name: arbitragem-banco
        property: connectionString
    - key: BINANCE_API_KEY
      sync: false
    - key: BINANCE_SECRET
      sync: false
    - key: MEXC_API_KEY
      sync: false
    - key: MEXC_SECRET
      sync: false
    - key: GATE_API_KEY
      sync: false
    - key: GATE_SECRET
      sync: false
  autoDeploy: true
  branch: default

- type: web
  name: robo-de-arbitragem-background
  env: node
  region: oregon
  plan: free
  buildCommand: npm install && npm run db:setup
  startCommand: node scripts/worker.js
  envVars:
    - key: NODE_ENV
      value: production
    - key: DATABASE_URL
      fromDatabase:
        name: arbitragem-banco
        property: connectionString
    - key: NODE_VERSION
      value: 18.17.0

version: "1"